.nav {
  display: flex;
  height: 55px;
  background-color: #F55A5A;
  align-items: center;
  justify-content: center;
}

.nav-image {
  width: 30px;
}

.nav p {
  color: white;
  font-weight: 500;
  margin-left: 10px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
}

.main {
  display: flex;
  margin: 5%;
}

.main-place-img {
  width: 25%;
  padding-right: 10px;
  border-radius: 30px;
}

.main-div {
  display: flex;
}

.main-div img {
  margin-top: 15px;
  width: 15px;
  height: 25px;
  padding-right: 5px;
}

.main-div p {
  font-style: normal;
  font-weight: 400;
  font-size: 19.24px;
  line-height: 12px;
  letter-spacing: 0.17em;

  color: #2B283A;
}

.main-div a {
  margin-left: 10px;
  margin-top: 17px;
}

.main-text {
  width: 50%;
}